# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
__pycache__
/pretrained_model/yolo_v3_face_detect.pb
/test/trump/
*.pyc